@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Nunito:wght@400;700&display=swap');
* {
    -fx-font-family: 'Nunito', Verdana, sans-serif;
    -fx-text-fill: #f0f8ff;
}

/* LOGIN VIEW */
.btn {
    -fx-cursor: hand;
    -fx-background-color: #404040;
    -fx-background-radius: 25;
    -fx-font-weight: bold;
}
.btn:hover{
    -fx-border-color: #404040;
    -fx-border-radius: 25;
    -fx-background-color: transparent;
 }

.btn2 {
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-border-color: #404040;
    -fx-font-weight: bold;
}
.btn2:hover{
    -fx-border-radius: 25;
    -fx-background-color: #404040;
}

.txtfield{
    -fx-background-color: #181818;
    -fx-background-radius: 25;
    -fx-font-size: 12;
}

.error-msg{
    -fx-text-fill: red;
}



/* BUYER VIEW */
.header{
    -fx-background-color: #363636;
}

.add-house-button{
    -fx-background-image: url("img/icons/add-house-icon.png");
    -fx-min-width: 29;
    -fx-max-width: 30;
    -fx-min-height: 26;
    -fx-max-height: 26;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.add-date-button{
    -fx-background-image: url("img/icons/add-date-icon.png");
    -fx-min-width: 24;
    -fx-max-width: 28;
    -fx-min-height: 24;
    -fx-max-height: 28;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

.logout-button{
    -fx-background-image: url("img/icons/logout-icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}

/* LEFT BAR */
.bg-grid-appointments{
    -fx-background-color: #303030;
}

/* NOTE LEFT BAR */
.note-bg{
    -fx-background-color: #242424;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}
.note-bg:hover{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: #181818;
}
.note-main-info{
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.note-info{
    -fx-text-fill: #808080;
    -fx-font-size: 10;
}

.rmv-button{
    -fx-background-image: url("img/icons/xcirclevuoto-icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.rmv-button:hover{
    -fx-background-image: url("img/icons/xcirclered-icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}


/* GRIGLIA CASE*/
.bg-grid{
    -fx-background-color: #242424;
}
.bg-grid > .viewport {
    -fx-background-color: #242424;
}

/** RIQUADRO DI UNA CASA NELLA GRIGLIA **/
.bg-house-grid{
    -fx-background-color: #181818;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}
.bg-house-grid:hover{
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-border-color: black;
}

.img-house{
    -fx-background-radius: 25;
    -fx-border-radius: 25;

}

.info-vbox{
    -fx-padding: 14;
    -fx-font-size: 14;
}


.address-label{
    -fx-text-fill: #808080;
}

.price-label{
    -fx-padding: 4 12;
    -fx-border-radius: 8;
    -fx-border-color: #005700FF;
    -fx-background-radius: 8;
    -fx-background-color: #94f394;
    -fx-text-fill: #242424;
}

.name-label{
    -fx-font-weight: bold;
}



/* HOUSE DETAILS VIEW */
.home-button{
    -fx-background-image: url("img/icons/home-icon.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
    -fx-pref-width: 30;
}
.modify-house-button{
    -fx-background-image: url("img/icons/modify-house-icon.png");
    -fx-min-width: 26;
    -fx-max-width: 30;
    -fx-min-height: 26;
    -fx-max-height: 26;
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.bg-house-details{
    -fx-background-color: #242424;
}

.box-house-detais{
    -fx-background-color: #181818;
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-font-size: 16;
    -fx-padding: 12;
}

.big-title-detail{
    -fx-font-size: 20;
    -fx-text-fill: #808080;
}
.title-detail{
    -fx-font-weight: bold;
}
.value-detail{
    -fx-text-fill: #808080;
}

.appointment-button{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-font-weight: normal;
    -fx-background-color: transparent;
    -fx-border-radius: 25;
    -fx-border-color: #404040;
    -fx-border-width: 3;
}
.appointment-button:hover{
    -fx-background-color: #404040;
    -fx-background-radius: 25;
    -fx-border-color: transparent;
}

/** Popup di selezione data **/
.popup-appointment-title{
    -fx-font-size: 16;
    -fx-font-weight: bold;
}
.popup-appointment-button{
    -fx-cursor: hand;
    -fx-font-size: 14;
    -fx-font-weight: normal;
    -fx-background-color: #404040;
    -fx-background-radius: 25;
    -fx-border-color: transparent;
    -fx-border-width: 3;
}
.popup-appointment-button:hover{
    -fx-background-color: transparent;
    -fx-border-radius: 25;
    -fx-border-color: #404040;
}


/* INSERT DETAILS VIEW */
.text-field-detail{
    -fx-background-color: #303030;
    -fx-background-radius: 25;
    -fx-font-size: 14;
    -fx-padding: 4 8;
}

.text-field-description{
    -fx-background-color: #303030;
    -fx-background-radius: 25;
    -fx-font-size: 14;
    -fx-padding: 2 10;
    -fx-faint-focus-color: transparent;
    -fx-focus-color: transparent;
}
.text-field-description .content{
    -fx-background-color: #303030;
    -fx-border-color: #303030;
}

.combo-box{
    -fx-background-color: #303030;
    -fx-background-radius: 25;
    -fx-font-size: 14;
}
.combo-box .text{
    -fx-fill: derive(-fx-control-inner-background, -30%);
}
.combo-box .cell:selected .text{
    -fx-fill: derive(-fx-control-inner-background, 0%);
}

.combo-box .list-view{
    -fx-background-color: #303030;
    -fx-background-radius: 25;
}
.combo-box .list-view .list-cell{
    -fx-background-color: #303030;
    -fx-background-radius: 25;
}
.combo-box .list-view .list-cell:hover{
    -fx-background-color: #404040;
}

.confirm-button{
    -fx-cursor: hand;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-color: #404040;
    -fx-background-radius: 25;
    -fx-border-color: transparent;
    -fx-border-width: 3;
}
.confirm-button:hover{
    -fx-background-color: transparent;
    -fx-border-radius: 25;
    -fx-border-color: #404040;
}




/* Date picker */
.date-picker{
    -fx-background-radius: 25;
    -fx-background-color: transparent;
}
.date-picker:focused{
    -fx-background-color: #303030;
}

.date-picker .text-field{
    -fx-background-color: #181818;
    -fx-background-radius: 25 0 0 25;
}

.date-picker .arrow-button {
    -fx-background-color: #303030;
    -fx-background-radius: 0 25 25 0;
}
.date-picker .arrow-button:hover {
    -fx-cursor: hand;
    -fx-background-color: #404040;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: #f0f8ff;
}

/*cella*/
.date-picker .cell {
    -fx-background-color: #242424;
    -fx-border-color: #242424;
}
.date-picker .cell:focused,
.date-picker .selected:focused {
    -fx-background-color: #808080;
}

.date-picker-popup .day-cell{
    -fx-cursor: hand;
    -fx-background-color: #363636;
}
.date-picker .day-cell:hover {
    -fx-background-color: #808080;
}

.date-picker-popup {
    -fx-background-color: transparent;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: #181818;
    -fx-background-radius: 25 25 0 0 ;
}
.date-picker-popup .month-year-pane .label {
    -fx-font-weight: bold;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: #F0F8FF;
}
.date-picker-popup .spinner .button:hover{
    -fx-cursor: hand;
    -fx-background-color: transparent;
}
.date-picker-popup .spinner .button:focused{
    -fx-background-color: transparent;
}

